@model LibraryManagementSystem.Models.Entity.TBLYAZAR
@{
    ViewBag.Title = "YeniYazarEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    @*form tarafında post işlemi yapıldığında çalışır*@
    <div>@*HTML Helper methodlarıyla ekleme işlemi*@</div>
    <div style="margin-top:15px">
        <label>Yazar Adı</label>
        @Html.TextBoxFor(yazar => yazar.AD, new { @class = "form-control" })
        @Html.ValidationMessageFor(yazar => yazar.AD)
    </div>
    <div style="margin-top:15px">
        <label>Yazar Soyadı</label>
        @Html.TextBoxFor(yazar => yazar.SOYAD, new { @class = "form-control" })
        @Html.ValidationMessageFor(yazar => yazar.SOYAD)
    </div>
    <div style="margin-top:15px">
        <label>Yazar Detay Bilgileri</label>
        @Html.TextAreaFor(yazar => yazar.DETAY, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Ekle</button>
    </div>
</form>


